
<div class="box">
  <div class="columns">
    <div class="column is-one-third">
      <span class="tag is-info"><%= @question.created_at.to_formatted_s(:short) %></span>
      <span class="tag is-dark">User: <%= @question.user.name %></span>
      <span class="tag is-primary">Category: <%= @question.category%></span>
    </div>
    <div class="column is-one-thirds">
      <%= @question.question_text %>
    </div>
  </div>
</div>


<br>
<%= form_for [@question, @answer] do |f| %>
  <p>
    <b>Have an answer to this question?  Drop it here!</b><br>
    <%= f.text_area :answer_text, {:class => "textarea is-primary"} %>
  </p>
  <p>
    <%= f.submit "Save Answer", {:class => "button is-success"} %>
  </p>
<% end %>

<ul>
  <% @answer.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<span class="tag is-warning">Answers:</span>
<% @question.answers.each do |a| %>
<div class="box">
  <div class="column is-one-third">
    <span class="tag is-light"> <a href="<%= user_questions_path(a.user) %>">User: <%= a.user.name %></a></span>
    <span class="tag is-info">User: <%= a.created_at.to_formatted_s(:short) %></span>
  </div>
  <div class="column is-two-thirds">
  <p><%= a.answer_text %></p>
  </div>
</div>
<% end %>
