<h4> <%= @question.question_text %> </h4>
<p> <%= @question.category %> </p>

<br>
<%= form_for [@question, @answer] do |f| %>
  <p>
    <b>Have an answer to this question?  Drop it here!</b><br>
    <%= f.text_area :answer_text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<ul>
  <% @answer.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<% @answers.each do |a| %>
  <h5> <%=User.find(a.user_id).name%> wrote: </h5>
  <p><%= a.answer_text %></p>
<% end %> 