<!DOCTYPE html>
<html>
  <head>
    <title>StackUnderflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">

    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">StackUnderflow</a>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span></div>
        </div>

        <% if logged_in?%>
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Account</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item">Hello,
                    <%= current_user.name%></a>
                  <a href="/logout" class="navbar-item">Logout</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% if !logged_in?%>
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Account</a>
                <div class="navbar-dropdown">
                  <a href="/login" class="navbar-item">Login Local</a>
                  <a href="/github" class="navbar-item">Login Github</a>
                  <a href="/users/new" class="navbar-item">Create Account</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </nav>

    <body>

      <%= yield %>
    </body>
  </div>
</html>
