<!DOCTYPE html>
<html>
  <head>
    <title>StackUnderflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <div class="container">
    <nav class="navbar has-shadow">
      <div class="container">
        <%= render 'layouts/brand' %>


        <% if logged_in?%>
          <%= render 'layouts/question_menu' %>
          <%= render 'layouts/logged_in' %>
        <% else %>
          <%= render 'layouts/not_logged_in' %>
        <% end %>

      </div>
    </nav>

    <body>
      <%= yield %>
    </body>

  </div>
</html>
